.vagrant

.log
.tmp

burrow/burrow
burrow-stats/burrow-stats
kafka-broker/kafka-docker

tmp
estreaming
.DS_Store

configs.json
/couchbase/CouchbaseKafkaLoader/target/
/couchbase/CouchbaseKafkaLoaderNewConsumer/target/
/spark-streaming-filter/mongo-hadoop/target/
/spark-streaming-filter/mongo-hadoop-spark/target/